.projects-container {
  background-image: url("../../public/images/WhiteBannerBlob14.png");
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.projects-container a {
  text-decoration: none;
}
.project-examples {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}
.project-examples h1 {
  padding: 0.5rem;
}

.project-box {
  background-color: aqua;
  height: 300px;
  width: 300px;
  box-shadow: 10px 5px 5px rgba(31, 45, 231, 0.247);
  border-radius: 2rem;
}
.ex1 {
  background-image: url("../../public/images/hogar300x300.png");
  
}
.ex1:hover{
  -webkit-filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 0 8px black);
  transform: scale(1.1);
}
.ex2 {
  background-image: url("../../public/images/ecommerceV300x300.png");
}
.ex2:hover{
  -webkit-filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 0 8px black);
  transform: scale(1.1);
}
.ex3 {
  background-image: url("../../public/images/guessmynumber.png");
}
.ex3:hover{
  -webkit-filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 0 8px black);
  transform: scale(1.1);
}
.ex4 {
  background-image: url("../../public/images/login300x300.png");
}
.ex4:hover{
  -webkit-filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 0 8px black);
  transform: scale(1.1);
}
.ex5 {
  background-image: url("../../public/images/tic-tac300x300.png");
}
.ex5:hover{
  -webkit-filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 0 8px black);
  transform: scale(1.1);
}
.ex6 {
  background-image: url("../../public/images/pig300x300.png");
}
.ex6:hover{
  -webkit-filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 8px black);
  filter: drop-shadow(0 0 0 8px black);
  transform: scale(1.1);
}
.project-url {
  background-color: #5475c0;
  border-radius: 2rem;
  text-align: center;
  margin-top: 10.8rem;
  margin-left: 6rem;
  width: 120px;
  height: 2.5rem;
  color: rgb(200, 255, 0);
  font-size: 20px;
  box-shadow: 10px 5px 5px black;

 
}
.learn-more {
  color: white;
  margin-left: 5.6rem;
}
@media (min-width: 1300px) and (max-width: 3000px) {
}
@media (min-width: 1280px) and (max-width: 1290px) {
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .info-header{
    font-size: 3.6rem;
  }
}
@media (min-width: 820px) and (max-width: 1023px) {
   
}
@media (min-width: 768px) and (max-width: 819px) {
    
}
@media (min-width: 540px) and (max-width: 767px) {
  .projects-container{
    padding-bottom: 0;
  }
}
@media (min-width: 412px) and (max-width: 539px) {
    
}
@media (min-width: 390px) and (max-width: 411px) {
    
}
@media (min-width: 360px) and (max-width: 389px) {
    .info-header{
      font-size: 2.6rem;
    }
}
@media (min-width: 280px) and (max-width: 359px) {
    
}