.footer-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 35rem;
}
.footer-flex h1{
    padding-left: 4rem;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 45px;
}
.contact-icons a{
    text-decoration: none;
    padding-left: 1rem;
}
.icons{
    color: blue;
    border-radius: 5rem;
}
@media (min-width: 1300px) and (max-width: 3000px) {
}
@media (min-width: 1280px) and (max-width: 1290px) {
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 25rem;
    }
}
@media (min-width: 820px) and (max-width: 1023px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 20rem;
    }
    .follow-me{
        display: none;
    }
    .learn-more{
        display: none;
    }
    .contact-icons{
        font-size: 50px;
    }
}
@media (min-width: 768px) and (max-width: 819px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 15rem;
    }
    .follow-me{
        display: none;
    }
    .learn-more{
        display: none;
    }
    .contact-icons{
        font-size: 50px;
    }
}
@media (min-width: 540px) and (max-width: 767px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 20rem;
    }
    .follow-me{
        display: none;
    }
    .learn-more{
        display: none;
    }
    .contact-icons{
        font-size: 50px;
    }
}
@media (min-width: 412px) and (max-width: 539px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 20rem;
    }
    .follow-me{
        display: none;
    }
    .learn-more{
        display: none;
    }
    .contact-icons{
        font-size: 53px;
    }
}
@media (min-width: 390px) and (max-width: 411px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 18rem;
    }
    .follow-me{
        display: none;
    }
    .learn-more{
        display: none;
    }
    .contact-icons{
        font-size: 54px;
    }
}
@media (min-width: 360px) and (max-width: 389px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 15rem;
    }
    .follow-me{
        display: none;
    }
    .learn-more{
        display: none;
    }
    .contact-icons{
        font-size: 50px;
    }
}
@media (min-width: 280px) and (max-width: 359px) {
    .footer-flex{
        gap: 1rem;
        padding-left: 20rem;
    }
    .follow-me{
        display: none;
    }
    .learn-more{
        display: none;
    }
    .contact-icons{
        font-size: 50px;
    }
}