.skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 4rem;
}
.skill-container img{
    border-radius: 7rem;
}
.image:hover{
    transform: scale(1.2);
}
.image {
  padding: 2rem;
  -webkit-filter: drop-shadow(0 0 8px #5475c0);
  filter: drop-shadow(0 0 8px rgb(159, 131, 224));
  filter: drop-shadow(0 0 0 8px black);
}

@media (min-width: 1300px) and (max-width: 3000px) {
}
@media (min-width: 1280px) and (max-width: 1290px) {
}
@media (min-width: 1024px) and (max-width: 1279px) {
}
@media (min-width: 820px) and (max-width: 1023px) {
}
@media (min-width: 768px) and (max-width: 819px) {
}
@media (min-width: 540px) and (max-width: 767px) {
  .skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3rem;
  }
  .image img{
    width: 130px;
  }
 
}
@media (min-width: 412px) and (max-width: 539px) {
}
@media (min-width: 390px) and (max-width: 411px) {
}
@media (min-width: 360px) and (max-width: 389px) {
}
@media (min-width: 280px) and (max-width: 359px) {
  .skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3rem;
  }
  .image img{
    width: 100px;
  }
}
